<ion-content class="ion-padding" *ngIf="user_os_device === 'desktop'" style="--background: #ffffff;">
  <div class="desktop-container">
    <div class="desktop-image-container">
      <ion-img src="../../../assets/icon/Login-rafiki.png"></ion-img>
    </div>

    <div class="form-container">
      <div class="header">
        <h1><b>Selamat Datang!</b></h1>
        <p>Masukkan username dan password untuk masuk ke dalam aplikasi</p>
      </div>

      <form>
        <ion-item style="--background: #ffffff">
          <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
          <ion-input type="email" label="Email" label-placement="stacked" placeholder="contoh123@gmail.com">
          </ion-input>
        </ion-item>

        <ion-item style="--background: #ffffff">
          <ion-icon slot="start" name="lock-closed-outline" color="medium"></ion-icon>
          <ion-input type="password" label="Password" label-placement="stacked" placeholder="Masukkan password Anda">
          </ion-input>
        </ion-item>

        <div class="spacer"></div>

        <ion-button expand="block" color="primary" class="ion-margin-top">
          <ion-label color="light">Masuk</ion-label>
        </ion-button>
      </form>

      <div class="register-container">
        <span>Belum punya akun?</span>
        <ion-button fill="clear" color="primary" routerLink="/register" routerDirection="root">Daftar</ion-button>
      </div>
    </div>
  </div>
</ion-content>


<ion-content class="ion-padding" *ngIf="user_os_device === 'mobile'" style="--background: #ffffff;">
  <div class="mobile-container">
    <div class="header">
      <div class="mobile-image-container">
        <ion-img src="../../../assets/icon/Login-rafiki.png"></ion-img>
      </div>
      <h1><b>Selamat Datang!</b></h1>
      <p>Masukkan username dan password untuk masuk ke dalam aplikasi</p>
    </div>

    <form class="form-content">
      <ion-item style="--background: #ffffff">
        <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
        <ion-input type="email" label="Email" label-placement="stacked" placeholder="contoh123@gmail.com">
        </ion-input>
      </ion-item>

      <ion-item style="--background: #ffffff">
        <ion-icon slot="start" name="lock-closed-outline" color="medium"></ion-icon>
        <ion-input type="password" label="Password" label-placement="stacked" placeholder="Masukkan password Anda">
        </ion-input>
      </ion-item>

      <div class="spacer"></div>

      <ion-button expand="block" color="primary">
        <ion-label color="light">Masuk</ion-label>
      </ion-button>
    </form>

    <div class="register-container">
      <span>Belum punya akun?</span>
      <ion-button fill="clear" color="primary" routerLink="/register" routerDirection="root">Daftar</ion-button>
    </div>
  </div>
</ion-content>